<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Homepage</title>
</head>
<body>
<!-- Page 1 -->
    <div class="page1">
<!-- Navigation Section Page1 -->
        <div>
            <div class="row" id="navPage1">
                <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" style="background-color: black;opacity: 70%;">
                    <div class="container">
                      <a class="navbar-brand" href="#">Logo</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Work</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">About Me</a>
                          </li>
                        </ul>
                        <div class="d-flex" role="search">
                          <button class="btn btn-outline-warning" type="submit">Log In</button>
                          <button style="margin-left: 5px;" class="btn btn-outline-warning" type="submit">Sign Up</button>
                        </div>
                      </div>
                    </div>
                  </nav>
              </div>
<!-- Main Section Page1 -->
            <div class="row" id="mainPage1">
                <div style="color: white;margin-top: 15%;" class="container text-center">
                    <h1 class="h1Page1">PLAY TRADITIONAL GAME</h1>
                    <h3 style="font-size: 130%;">Experience New Traditional Game</h3>
                    <button onclick="window.location.href='/game'" id="buttonPage1" type="button" class="btn btn-warning btn-lg" >Play Now</button>
                </div>
              </div>
<!-- Footer Section Page1 -->
            <div class="row" id="footerPage1">
                <div class="text-center">
                    <p style="color: white;margin-top: 14rem;margin-bottom: 0;">The Story</p>
                    <img style="margin-top: 1rem;" src="./scroll-down.svg" alt="scroll-down">
                </div>
              </div>
        </div>
    </div>
<!-- Page 2 -->
<div class="page2">
    <div>
        <div class="row">
<!-- Left Side Page 2 -->
          <div class="col-12 col-sm-12 col-md-4  ">
            <div id="left-sidePage2">
                <h3 style="font-size: 150%;">What's so special?</h3>
                <h1 style="font-size: 400%;">THE GAMES</h1>
            </div>
          </div>
<!-- Right Side Page 2 -->
          <div class="col-12 col-sm-12 col-md-8  ">
            <div  id="right-sidePage2">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img style="width: 75%;margin-left: 12%;" src="./rockpaperstrategy-1600.jpg" class="d-block" alt="rockpaperstrategy-1600">
                      </div>
                      <div class="carousel-item active">
                        <img style="width: 75%;margin-left: 12%;" src="./rockpaperstrategy-1600.jpg" class="d-block" alt="rockpaperstrategy-1600">
                      </div>
                      <div class="carousel-item active">
                        <img style="width: 75%;margin-left: 12%;" src="./rockpaperstrategy-1600.jpg" class="d-block" alt="rockpaperstrategy-1600">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- page 3 -->
<div class="page3">
    <div>
        <div class="row">
<!-- left side Page 3-->
          <div class="col-12 col-sm-3 col-md-7 ">
            <div id="left-sidePage3">
            </div>
          </div>
<!-- Right side Page 3-->
          <div class="col 12 col-sm-9 col-md-5 " >
            <div id="right-sidePage3">
                <div class="row" id="titlePage3">
<!-- Title Head Page 3-->
                    <h3>What's so special?</h3>
                    <h1>FEATURES</h1>
                </div>
<!-- below Desc Page 3-->
                <div class="row" style="margin-right:40%; color: white;">
                    <div>
                        <div class="vertical-linePage3"></div>
                        <div class="d-flex align-items-center">
                            <img id="bulletPage3" src="./ellipse.svg" alt="ellipse" class="mr-3">
                            <div>
                              <h3 id="mainTitlePage3">TRADITIONAL GAMES</h3>
                              <p>if you miss your childhood, we provide many traditional games here</p>
                            </div>
                        </div>
                        <br>
                        <div class="d-flex align-items-center">
                            <img id="bulletPage3" src="./ellipse-outline.svg" alt="ellipse-outline1" class="mr-3">
                            <div>
                              <h3 id="mainTitlePage3">GAME SUIT</h3> 
                            </div>
                        </div>
                        <br>
                        <div class="d-flex align-items-center">
                            <img id="bulletPage3" src="./ellipse-outline.svg" alt="ellipse-outline2" class="mr-3">
                            <div>
                              <h3 id="mainTitlePage3">TBD</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
<!--Page 4-->
<div class="page4">
  <div>
  <!--Header Page 4-->
    <div class="row" id="headerPage3">
      <div class="col">
        <h3 id="h3HeaderPage5" class="text-center">Can My Computer Run This Game?</h3>
      </div>
 <!--Content Title Page 4-->
    <div class="row row-cols-md-2 row-cols-sm-1">
      <div class="col" id="upLeftPage4">
        <h1 id="asideUpLeftPage4">SYSTEM REQUIREMENTS</h1>
      </div>
      <div class="col" id="upRightPage4">
      </div>
    </div>
 <!--Content Table Page 4-->
    <div class="row row row-cols-md-2 row-cols-sm-1">
      <div class="col" id="bottomLeftPage4">
        <table class="tablePage4">
          <tr>
            <td class="tdPage4">
              <p class= "textUpPage4";>OS:</p>
              <p class="textUnderPage4">Windows 7 64-bit only (No OSX Support at this time)</p>
            </td>
            <td class="tdPage4">
              <p class="textUpPage4">PROCESSOR:</p>
              <p class="textUnderPage4">Intel Core Duo 2 @ 2,4 GHZ or AMD Athion X2 @ 2,8 GHZ</p>
            </td>
          </tr>
          <tr>
            <td class="tdPage4">
              <p class="textUpPage4">MEMORY:</p>
              <p class="textUnderPage4" style="padding-bottom: 20px;">4GB RAM</p>
            </td>
            <td class="tdPage4">
              <p class="textUpPage4">STORAGE:</p>
              <p class="textUnderPage4" style="padding-bottom: 20px;">8GB Available Space</p>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="tdPage4">
              <p class="textUpPage4">GRAPHICS:</p>
              <p class="textUnderPage4">NVIDIA GeForce GTX 660 2GB or AMD Radeo HD 785D 2GB DirextX11 (Shader Model 5)</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col" id="bottomRightPage4">
      </div>
    </div>
    </div>
  </div>
</div>
<!-- page 5 -->
<div class="page5">
  <div>
      <div class="row">
<!-- Left side Page 5 -->
        <div class="col col-12 col-sm-3 col-md-6">
          <div id="textRightPage5">
            <h1 class="h1Page5">TOP SCORES</h1>
            <p class="pPage5">This top score from various provided on this platform</p>
            <button id="buttonPage1" type="button" class="btn btn-warning btn-lg" >See More</button>
          </div>
        </div>
<!-- Right side Page 5 -->
        <div class="col col-12 col-sm-9 col-md-6">
          <div class="container mt-5">
<!-- Top 1 Page 5 -->
            <div class="row" style="margin-left: 15%;">
              <div class="card mb-3 text-bg-dark" style="max-width: 500px">
                <div class="row g-0">
                  <div class="col-4 col-sm-4 col-md-4">
                    <div class="text-center">
                      <img src="./evan-lahti.jpg" class="img-thumbnail w-75" style="margin-top: 20%;" alt="evan-lahti">
                    </div>
                  </div>
                  <div class="col-8 col-sm-8 col-md-8">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                      <h5 class="card-title mb-0 text-warning fw-bold">Evan Lathi</h5>
                      <img src="./twitter.svg" alt="twitter">
                    </div>
                      <p class="card-text mt-0 text-secondary fw-bold">PC Gamers</p>
                      <p class="card-text mb-0">"One of my gaming highlights of the year"</p>
                      <p class="card-text mt-0"><small class="text-muted">june 18,2021</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!-- Top 2 Page 5 -->
            <div class="row">
              <div class="card mb-3 text-bg-dark" style="max-width: 500px;">
                <div class="row g-0">
                  <div class="col-4 col-sm-4 col-md-4">
                    <div class="text-center">
                      <img src="./jada-griffin.jpg" class="img-thumbnail w-75" style="margin-top: 20%;" alt="jada-griffin">
                    </div>
                  </div>
                  <div class="col-8 col-sm-8 col-md-8">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-0 text-warning fw-bold">Jada Griffin</h5>
                        <img src="./twitter.svg" alt="twitter">
                      </div>
                      <p class="card-text mt-0 text-secondary fw-bold">Nerdreactor</p>
                      <p class="card-text mb-0">"The next big thing in the world of streaming and survival games"</p>
                      <p class="card-text mt-0"><small class="text-muted">July 10,2021</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!-- Top 3 Page 5 -->
            <div class="row" style="margin-left: 5%">
              <div class="card mb-3 text-bg-dark" style="max-width: 500px;">
                <div class="row g-0">
                  <div class="col-4 col-sm-4 col-md-4">
                    <div class="text-center">
                      <img src="./aaron-williams.jpg" class="img-thumbnail w-75" style="margin-top: 20%;" alt="aaron-williams">
                    </div>
                  </div>
                  <div class="col-8 col-sm-8 col-md-8">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-0 text-warning fw-bold">Aaron Wiliams</h5>
                        <img src="./twitter.svg" alt="twitter">
                      </div>
                      <p class="card-text mt-0 text-secondary fw-bold">Uproxx</p>
                      <p class="card-text mb-0">"Snoop Dogg Playing The Wildly Entertaining "SOS" Is Ridiculous"</p>
                      <p class="card-text mt-0"><small class="text-muted">December 24,2018</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
</div>
<!-- page 6 -->
<div class="page6">
  <div class="container">
    <div class="row">
<!-- content left Page 6 -->
      <div class="col-1 col-sm-1 col-md-6 d-flex align-items-center" id="left">
        <img src="./skull.png" alt="skull" class="imgSkull mx-auto " >
      </div>
<!-- content right page 6 -->
      <div class="col-11 col-sm-11 col-md-6" id="right">
        <div class="text-light" style="margin-top: 15%;">
          <h3 class="h3Page6">Want to stay in touch?</h3>
          <h1 class="text-warning col-sm-2" id="h1Page6" >NEWSLETTER SUBSCRIBE</h1>
          <P class="pFooterPage6">In order to start receiving our news, all you have to do is enter your email adress. Everything else will be taken care of bt us. We will send you emails containing information about game. We don't spam. </P>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="your email adress" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text"  id="basic-addon2">@binar.id</span>
            <button style="margin-right: 30%;" type="button" class="btn btn-outline-warning">Subscribe Now</button>
          </div>
        </div>
      </div>
<!-- footer page 6 -->
    <div class="row" id="footerPage6" >
<!-- footer up page 6 -->
      <div class="col-12 col-sm-12 col-md-12" id="footerUpPage6" >
        <div class="container d-flex justify-content-end">
          <div class="footbarMenuPage6">
            <a class="upFooter" href="#" >MAIN</a>
            <a class="upFooter" href="#">ABOUT</a>
            <a class="upFooter" href="#">GAME FEATURES</a>
            <a class="upFooter" href="#">SYSTEM REQUIREMENTS</a>
            <a class="upFooter" href="#">QUOTES</a>
          </div>
          <div class="menuSocialImage">
            <img class="socialImage" src="./facebook.svg" alt="facebook">
            <img class="socialImage" src="./twitter.svg" alt="twitter">
            <img class="socialImage" src="./vector.svg" alt="youtube">
            <img class="socialImage" src="./twitch.svg" alt="twitch">
          </div>
        </div>
<!-- footer line -->
        <hr style="background-color: white; height: 1.5px;">
<!-- footer bottom page 6 -->
        <div class="d-flex justify-content-between">
          <span class="copyRightPage6" style="color: rgb(73, 71, 71);">&copy;2018 Your Games, Inc. All Right Reserved</span>
          <div class="footbarMenuPage6 d-flex">
            <a class="bottomFooter" href="#">PRIVACY POLICY</a>
            <p class="bottomFooter">|</p>
            <a class="bottomFooter" href="#">TERMS OF SERVICES</a>
            <p class="bottomFooter">|</p>
            <a class="bottomFooter" href="#">CODE OF CONDUCT</a>
          </div>
      </div>
      </div>   
    </div>
    </div>
  </div>
</div>
<!-- end -->
</body>
</html>