body{
    background-image: url(./pexels-pixabay-235985.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
ul{
    list-style: none;
}

/* header */
.fontHeader{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    font-weight: 700;
    font-size: 130%;
}
@media only screen and (max-width: 576px) {
    .fontHeader{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    font-weight: 700;
    font-size: 80%;
  }}
.headerP{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:orange;
    font-weight: 700;
    font-size: 200%;
    text-decoration: none;
}
@media only screen and (max-width: 576px) {
    .headerP{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    font-weight: 700;
    font-size: 150%;
  }}
.imageHeader{
    width: 35px;
    height: 37px;
}
@media only screen and (max-width: 576px) {
    .imageHeader{
        width: 22px;
        height: 24px;
  }}

/* content */
.contentFont{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700; 
    font-size: 180%;
}
@media only screen and (max-width: 576px) {
    .contentFont{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700; 
    font-size: 80%;
  }}


  section#playerArea ul li img{
    border-radius: 30px;
}
  section#comArea ul li img{
    border-radius: 30px;
}

.imageSetContent{
    width: 150px;
    height: 130px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
    .imageSetContent{
        width: 100px;
        height: 80px;
  }}
@media only screen and (max-width: 576px) {
    .imageSetContent{
        width: 100px;
        height: 80px;
  }}
@media only screen and (max-width: 343px) {
.imageSetContent{
    width: 70px;
    height: 50px;
}}
.win{
    font-size: 200% !important;
    background-color: rgb(8, 74, 8);
    color: white !important;
    transform: rotate(345deg);
    border-radius: 30px;
    padding: 30px;
}
.contentVs{
    font-size: 500%;
    color: red;
}

@media only screen and (max-width: 800px) {
    .contentVs{
        font-size: 320%;
  }}
@media only screen and (max-width: 576px) {
    .contentVs{
        font-size: 320%;
  }}
  @media only screen and (max-width: 343px) {
    .contentVs{
        font-size: 250%;
  }}

/* footer */
.imageFooter{
    width:60px;
    height: 60px;
}
@media only screen and (max-width: 576px) {
    .imageFooter{
        width:30px;
        height: 30px;
  }}
  
.rotate {
    animation: spin 10s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(-360deg);
    }
  }


  